.DetailContainer {
  width: 80%;
  margin: 24px auto 32px;
  color: #4f5151;
  border-radius: 4px;
  background-color: #FFF;
}
.DetailContainer .Product {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
}
.DetailContainer .Product .ProductImage {
  width: 50%;
  height: 50%;
  margin-right: 32px;
}
.DetailContainer .Product .ProductInfoContainer {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: auto;
  padding-right: 32px;
}
.DetailContainer .Product .ProductInfoContainer .ProductConditionSales {
  font-size: 14px;
  font-weight: 500;
}
.DetailContainer .Product .ProductInfoContainer .ProductTitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
}
.DetailContainer .Product .ProductInfoContainer .ProductPriceContainer {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
.DetailContainer .Product .ProductInfoContainer .ProductPriceContainer .ProductPrice {
  font-size: 32px;
  font-weight: 500;
}
.DetailContainer .Product .ProductInfoContainer .ProductPriceContainer .ProductPriceDecimals {
  font-size: 16px;
  align-self: flex-start;
  margin-top: 4px;
  margin-left: 2px;
}
.DetailContainer .Product .ProductInfoContainer .ProductPurchaseButton {
  cursor: pointer;
  padding: 8px;
  margin-top: 32px;
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #FFF;
  background-color: #3383fb;
}
.DetailContainer .Product .ProductInfoContainer .ProductPurchaseButton:hover {
  background-color: #1a74fb;
}
.DetailContainer .DescriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.DetailContainer .DescriptionContainer .DescriptionTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.DetailContainer .DescriptionContainer .DescriptionContent {
  color: #989898;
  font-size: 16px;
}

@media (max-width: 992px) {
  .DetailContainer {
    width: 95%;
  }
  .DetailContainer .Product {
    padding-top: 0;
    flex-direction: column;
  }
  .DetailContainer .Product .ProductImage {
    width: 100%;
    height: auto;
    margin-right: auto;
  }
  .DetailContainer .Product .ProductInfoContainer {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: 16px;
  }
  .DetailContainer .Product .ProductInfoContainer .ProductConditionSales {
    font-size: 12px;
  }
  .DetailContainer .Product .ProductInfoContainer .ProductTitle {
    font-size: 16px;
    margin-top: 12px;
  }
  .DetailContainer .Product .ProductInfoContainer .ProductPriceContainer {
    margin-top: 16px;
  }
  .DetailContainer .Product .ProductInfoContainer .ProductPriceContainer .ProductPrice {
    font-size: 28px;
  }
  .DetailContainer .Product .ProductInfoContainer .ProductPriceContainer .ProductPriceDecimals {
    font-size: 16px;
  }
  .DetailContainer .DescriptionContainer .DescriptionTitle {
    font-size: 18px;
  }
  .DetailContainer .DescriptionContainer .DescriptionContent {
    font-size: 14px;
  }
}

/*# sourceMappingURL=details.css.map */
